{% extends "base.html" %}
{% load static %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="sm-10, offset-2">
                <h1>List Albums</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for object in object_list %}
                        <tr>
                            <td>{{ object.id }}</td>
                            <td><a href="{%  url 'photos_album_list' object.pk %}">{{ object.title }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
